PORT=3000
DB_URL="mongodb://host:example.com"
JWT_SECRET="JWT_SECRET=JWT_SECRET_KEY"
IMAGEKIT_PRIVATE_KEY="IMAGEKIT=PRIVATE_KEY"

RAZORPAY_KEY_ID="Example.razorpay_key",
RAZORPAY_KEY_SECRET="example.razorpay_Secrete_Key"

REDIS_URL="redis://default:password@host:port"

JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-character-app-password
SMTP_FROM=your-email@gmail.com
